/* functional css - selectable gamemode */
.available-gamemode {
    color: blue;
    cursor: pointer;
}

/* functional css - non-selectable gamemode */
.unavailable-gamemode {
    pointer-events: none;
    cursor: default;
}


.button {
    display: block;
    width: 150px;
    height: 50px;
    background-color: #808080;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}