
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
}

#header {
    background-color: #a72020;
    width: 100%;
    padding: 20px;
}

.gamemode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #808080 1px solid;
    border-radius: 25px;
    width: 200px;
    height: 17px;
    margin-bottom: 5px;

}

p {
    font-size: larger;
}

button {
    display: block;
    width: 150px;
    height: 50px;
    background-color: #6eb2e0;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: auto;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.containerII {
    padding-left: 40px;
    padding-right: 40px;
}

.containerII > p {
    font-size: x-large;
}